.product_image {
  width: 100%;
  height: 290px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.cart_section {
  width: 96%;
  height: 250px;
  margin: auto;
  border-radius: 15px;
  font-size: 16px;
  position: absolute;
  background-color: white;
  visibility: hidden;
}

.cart_header {
  height: 20%;
  padding: 20px;
  border-bottom: 1px solid hsl(223, 64%, 98%);
}

.cart_main {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px 30px 25px;
}

.arrows_container {
  visibility: hidden;
  width: 95%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.arrow {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.arrow img {
  width: 10px;
}

.visible {
  visibility: visible;
}

.product_section {
  padding: 20px;
}

.title_company {
  color: orange;
  text-transform: uppercase;
}

.title {
  margin-top: 10px;
}

.text {
  margin-top: 10px;
}

.price_section {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.original_price {
  justify-self: end;
  text-decoration: line-through;
  font-weight: bold;
  color: hsl(220, 14%, 75%);
  margin-left: auto;
}

.discount_percentage {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 10px;
}

.buttons_section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 12px;
}

.large_btn {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  color: white;
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.large_btn img {
  filter: brightness(0%) invert();
}

.product_thumbnail {
  width: 50px;
  border-radius: 5px;
}

.cart_product_details {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_product_info {
  transform: translate(0, -10px);
}

.delete_icon {
  height: 15px;
}

.empty_cart_message {
  text-align: center;
  font-weight: bold;
  color: hsl(219, 9%, 45%);
}
