.link {
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 992px) {
  .link {
    margin: 0px 15px;
    font-size: 16px;
    font-weight: 100;
    font-size: smaller;
    color: hsl(219, 9%, 45%);
    height: 100%;
    display: flex;
    align-items: center;
  }

  .link:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
  }
}
